body{
    background-color:#eafaf1;

}
.list{
    font-family: Georgia;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color:  #ffffff;
    
   
    
}
input{
    border-radius: 10px;
    border: 2px solid #a8df8e;
    margin:10px;
    padding: 20px;
    font-weight: 700;
    width:250px;
    cursor: pointer;
    color:#444
}

h1{
    font-weight: 900;
    color:#2e7d32;
}


.delete1{
    margin:20px;
    width:200px;
    border-radius: 10px;
    padding: 10px;
    border:1px solid black;
    font-weight: 700;
    background-color: #4caf50;
    color:#386641;
    
    
}
.delete{
    margin:10px;
    padding:10px;
    margin-left: 50px;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color:#28a745;
    color:white;
    cursor: pointer;
    border:none;
}
.container li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; 
}

.delete:hover{
    box-shadow: 2px 2px 2px 2px black;
}
.delete1:hover{
    font-size: 1rem;
    box-shadow: 10px 10px 10px 10px  black;
}
